# ðŸ¦„ The Fantasy Zookeeper

**Scenario:**

Congratulations! You've been hired as a data analyst at Fantasy Zoo, the world's first zoo for mythical creatures. Your job is to analyze the data of the mythical creatures living at the zoo and provide insights to help improve their wellbeing.

You've been given a **dataset** containing the following columns:
* `creature_name`: Name of the creature
* `creature_type`: Type of the creature (e.g., dragon, unicorn, etc.)
* `age`: Age of the creature (in years)
* `health_status`: Health status of the creature (Excellent, Good, Fair, Poor)
* `magical_ability_score`: Score representing the creature's magical ability (0-100)

**Exercise:**

In order to organize the animals into different habitats, you've been asked to answer the fsome questions regarding this dataset:

In [1]:
import pandas as pd
import numpy as np

# Define the number of creatures
num_creatures = 100

# Define the creature types
creature_types = ['Dragon', 'Unicorn', 'Griffin', 'Phoenix', 'Mermaid', 'Centaur']

# Generate random data
data = {
    'creature_name': ['Creature' + str(i) for i in range(num_creatures)],
    'creature_type': np.random.choice(creature_types, num_creatures),
    'age': np.random.randint(1, 1000, num_creatures),
    'health_status': np.random.choice(['Excellent', 'Good', 'Fair', 'Poor'], num_creatures),
    'magical_ability_score': np.random.randint(0, 101, num_creatures)
}

# Create a DataFrame
df = pd.DataFrame(data)

1. Display the first 5 rows of the dataframe.

  creature_name creature_type  age health_status  magical_ability_score
0     Creature0       Centaur  264          Fair                     30
1     Creature1       Centaur  865     Excellent                      6
2     Creature2       Centaur  956          Fair                     22
3     Creature3       Griffin  837          Fair                     19
4     Creature4       Unicorn  540          Good                      6

2. Calculate and print the total number of creatures in the zoo.

'Total number of creatures: 100'

3. Calculate and print the average age of the creatures.

'Average age of creatures: 556.46'

4. Find and print the name of the oldest creature.

'Oldest creature: Creature59'

5. Identify and print the most common type of creature.

'Most common creature type: Dragon'

6. Find and print the average magical ability score for each type of creature.

creature_type
Centaur    45.052632
Dragon     54.500000
Griffin    55.818182
Mermaid    46.000000
Phoenix    64.416667
Unicorn    50.684211
Name: magical_ability_score, dtype: float64

7. Find the names of creatures who have a 'Poor' health status.

11    Creature11
14    Creature14
15    Creature15
16    Creature16
19    Creature19
20    Creature20
23    Creature23
25    Creature25
38    Creature38
39    Creature39
46    Creature46
48    Creature48
50    Creature50
54    Creature54
55    Creature55
63    Creature63
65    Creature65
72    Creature72
77    Creature77
78    Creature78
86    Creature86
92    Creature92
93    Creature93
97    Creature97
Name: creature_name, dtype: object

Remember, the happiness of the mythical creatures is in your hands. Happy analyzing! ðŸ’ª